body{
	background-color: #01545B;
}

#titlebox{
	text-align:center;
	color:#000000;
}

.left li {
	color: #FFF;
}

.ButtonContent{
	float:right;
	display:block;
}

.image{
	width: 65%;
}

.button{
	width:150px;
}